// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item-done {
  text-decoration: line-through;
  color: gray;
  background-color: lightgray;
  .item-done-btn {
    display: none;
  }
  .item__text {
    cursor: default;
  }
}

.item__text {
  margin: 0 10px 0 10px;
  min-width: 10px;
}

.item__editText {
  width: 350px;
}

td.item__doneMark {
  width: 1px;
}

td.item__actions {
  width: 150px;
}

.adding-item-text {
  width: 415px;
}
